%p
	%strong Name:
	= @beer.name

%p
	%strong Description:
	= @beer.description

%p
	%strong Notes:
	-@beer.notes.each do |n|
		= n.value

%p
	%strong Geek:
	-@beer.notes.each do |note|
		%br
		="#{note.beer_geek.email unless note.beer_geek.nil?} à ajouté la note #{note.value} à cette bière"

= link_to 'Edit', edit_beer_path(@beer)
|
= link_to 'Back', beers_path
